---
import Layout from '@layouts/Layout.astro';
import SectionContainer from '@components/SectionContainer.astro';
import Experience from '@components/Experience.astro';
import Projects from '@components/Projects.astro';
import AboutMe from '@/components/AboutMe.astro';
import TitleSection from '@/components/TitleSection.astro';
import Hero from '@/components/Hero.astro';
import Briefcase from '@icons/Briefcase.astro';
import CodeIcon from '@icons/Code.astro';
import ProfileCheck from '@icons/ProfileCheck.astro';
---

<Layout
	title='Portfolio de Wallace - Desarrollador y Programador Web'
	description='Portfolio de Wallace, un ingeniero de software con más de 15 años de experiencia en desarrollo web. Especializado en crear aplicaciones únicas y contenido sobre programación.'
>
	<main class='px-4'>
		<SectionContainer class='py-16 md:py-36'>
			<Hero>
				<slot />
			</Hero>
		</SectionContainer>

		<div class='space-y-24'>
			<SectionContainer id='experience'>
				<TitleSection>
					<Briefcase class='size-7' />
					Experiencia laboral
				</TitleSection>
				<Experience />
			</SectionContainer>

			<SectionContainer id='proyects'>
				<TitleSection>
					<CodeIcon class='size-7' />
					Proyectos
				</TitleSection>
				<Projects />
			</SectionContainer>

			<SectionContainer id='about'>
				<TitleSection>
					<ProfileCheck class='size-8' />
					Sobre mí
				</TitleSection>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
