---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
	{
		date: 'Septiembre 2025 - Actualidad',
		title: 'Programador de Sistemas',
		company: 'Tair Renting S.A.C.',
		description: `
			Responsable del mantenimiento y gestión de bases de datos IBM DB2, desarrollo y mantenimiento de sistemas intranet utilizando React.js, Next.js y Visual Basic. Encargado del análisis, desarrollo y migración de información entre SAP Business One y Sialog, además de implementar un servicio en segundo plano en C# para la integración y automatización del intercambio de datos entre sistemas.
		`,
	},
	{
		date: 'Septiembre 2023 - Abril 2025 • 1 año 8 meses',
		title: 'Desarrollador Full-stack',
		company: 'ADP Technology E.I.R.L.',
		description:
			'Desarrollo de sistemas y aplicaciones web para clientes como Hama Perú, Valuem Finance, Clummerce, MulticreditosDM, entre otros. Uso de tecnologías como JavaScript, Laravel, React.js, Tailwind CSS y TypeScript para crear soluciones funcionales y personalizadas.',
		type: 'Trabajo',
		link: '/pdf/Certificado-Laboral-Formal-Paredes-Pari-Walinn.pdf',
	},
	{
		date: '2022 - 2025 • 3 años',
		title: 'Estudiante y Programador Autodidacta',
		company: 'Proyectos personales y formación',
		description:
			'Desarrollo de proyectos propios y prácticas con tecnologías web mientras completaba formación técnica y cursos especializados. Enfoque en el aprendizaje continuo y creación de soluciones web reales.',
		type: 'Egresado',
		link: '/pdf/CONSEGRE-Paredes-Pari-Walinn-12_7_2025-183726.pdf',
	},
];
---

<ol class='relative mt-16'>
	{
		EXPERIENCE.map((experience) => (
			<li class=''>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
