---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
	{
		date: '2023 - Abril 2025',
		title: 'Desarrollador Web',
		company: 'ADP Technology',
		description:
			'Desarrollo de sistemas y aplicaciones web para clientes como Hama Perú, Valuem Finance, Clummerce y MulticreditosDM. Uso de tecnologías como JavaScript, Laravel, React.js, Tailwind CSS y TypeScript para crear soluciones funcionales y personalizadas.',
	},
	{
		date: '2022 - 2025',
		title: 'Estudiante y Programador Autodidacta',
		company: 'Proyectos personales y formación',
		description:
			'Desarrollo de proyectos propios y prácticas con tecnologías web mientras completaba formación técnica y cursos especializados. Enfoque en el aprendizaje continuo y creación de soluciones web reales.',
	},
];
---

<ol class='relative mt-16'>
	{
		EXPERIENCE.map((experience) => (
			<li class=''>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
