---
const navItems = [
	{
		title: 'Inicio',
		label: 'inicio',
		url: '/#top',
	},
	{
		title: 'Experiencia',
		label: 'experiencia',
		url: '/#experience',
	},
	{
		title: 'Proyectos',
		label: 'proyectos',
		url: '/#proyects',
	},
	{
		title: 'Sobre mí',
		label: 'sobre-mí',
		url: '/#about',
	},
	{
		title: 'Contácto',
		label: 'contácto',
		url: 'mailto:walinparedes3010gmail.com',
	},
];
---

<header
	class='fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2'
>
	<nav
		class='flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center'
	>
		{
			navItems.map((nav) => (
				<a
					class='relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500'
					aria-label={nav.label}
					href={nav.url}>
					{nav.title}
				</a>
			))
		}
	</nav>
</header>

<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		0% {
			background-color: rgba(255, 255, 255, 0);
		}

		to {
			box-shadow:
				0 10px 15px -3px rgba(0, 0, 0, 0.1),
				0 4px 6px -4px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(8px);
			-webkit-backdrop-filter: blur(8px);
			--tw-ring-inset: var(--tw-empty);
			--tw-ring-offset-width: 0px;
			--tw-ring-offset-color: #fff;
			--tw-ring-color: rgba(255, 255, 255, 0.1);
			--tw-ring-offset-shadow: 0 0 #0000;
			--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
				calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
			box-shadow:
				var(--tw-ring-offset-shadow),
				var(--tw-ring-shadow),
				0 10px 15px -3px rgba(0, 0, 0, 0.1),
				0 4px 6px -4px rgba(0, 0, 0, 0.1);
		}
	}

	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	@media (prefers-color-scheme: dark) {
		nav {
			background-color: rgba(31, 41, 55, 0.9);
		}
	}
</style>
