---
import Badge from '@/components/Badge.astro';
import SocialPill from '@/components/SocialPill.astro';
import LinkedInIcon from '@icons/LinkedIn.astro';
import MailIcon from '@icons/Mail.astro';
import GitHubIcon from '@icons/GitHub.astro';
import Image from 'astro/components/Image.astro';
import { NAME } from '@/const.d.astro';
---

<div class='max-w-xl'>
	<div class='flex gap-4 mb-4'>
		<Image
			class='rounded-full shadow-lg size-16 object-cover'
			src='/projects/profile.jpg'
			alt={NAME}
			width={64}
			height={64}
			loading='eager'
		/>
		<a
			href='https://linkedin.com/in/walin-paredes'
			target='_blank'
			rel='noopener'
			class='flex items-center transition md:justify-center md:hover:scale-105'
		>
			<Badge>Actualmente trabajando</Badge>
			<!-- 1 de septiembre consegu칤 mi primer trabajo formal -->
			<!-- A칰n no firmo, pero weno ya esta casi todo, ojala ya llegue ese dia -->
		</a>
	</div>
	<h1
		class='text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white'
	>
		Hola, soy {NAME}
	</h1>
	<p
		class='mt-6 text-xl text-gray-800 dark:[&>strong]:text-cyan-200 [&>strong]:text-cyan-500 [&>strong]:font-semibold dark:text-gray-300'
	>
		Tengo 21 a침os, cuento con 2 a침os de experiencia creando soluciones digitales
		funcionales e innovadoras.
		<strong
			>Desarrollador con formaci칩n t칠cnica y autodidacta, dedicado al desarrollo
			de sitios, aplicaciones y sistemas web</strong
		>
		desde Lima, Per칰 游왫릖.
	</p>

	<nav class='flex flex-wrap gap-4 mt-8'>
		<SocialPill href='mailto:walinparedes3010@gmail.com'>
			<MailIcon class='size-4' />
			Cont치ctame
		</SocialPill>
		<SocialPill href='https://linkedin.com/in/walin-paredes'>
			<LinkedInIcon class='size-4' />
			LinkedIn
		</SocialPill>
		<SocialPill href='https://github.com/UOdriozola28'>
			<GitHubIcon class='size-4' />
			GitHub Principal
		</SocialPill>
		<SocialPill href='https://github.com/wllparedes'>
			<GitHubIcon class='size-4' />
			GitHub Secundaria
		</SocialPill>
	</nav>
</div>
